
<h1 data:ng-if="!isEdit">Add Reference</h1>
<h1 data:ng-if="isEdit">Edit Reference</h1>

<div class="lomake">
    <form>
        
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" data:ng-model="ref.title">
        </div>
        
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" data:ng-model="ref.authors">
        </div>
        
        <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" class="form-control" id="publisher" data:ng-model="ref.publisher">
        </div>
      
       <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" data:ng-model="ref.year">
        </div>
        
        <button type="button" data:ng-click="saveRef( ref )" class="btn btn-default">Save</button>
        
    </form>
</div>
       
