
<h1>References</h1>

<div class="table table-condensed" class="form-group">
    <label for="type">Reference Type</label>
    <select id="type" class="form-control" data:ng-model="refType">
        <option data:ng-selected="refType == 1" value="1">Book</option>
        <option data:ng-selected="refType == 2" value="2">Article</option>
        <option data:ng-selected="refType == 3" value="3">Proceedings</option>
    </select>
</div>

<div data:ng-if="refs.length == 0" class="alert alert-info">There aren't any references added yet!</div>

<table data:ng-if="refs.length != 0" class="table table-condensed">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Authors</th>
        <th data:ng-if="refType == 1">Publisher</th>
        <th data:ng-if="refType == 2">Journal</th>
        <th data:ng-if="refType == 3">Book title</th>
        <th>Year</th>
        <th colspan="2"></th>
    </tr>
    <tr data:ng-repeat="ref in refs">
        <td><a href='#/preview/{{ ref.id }}' target='_blank'>{{ $index + 1 }}</a></td>
        <td>{{ ref.title }}</td>
        <td>{{ ref.authors }}</td>
        <td data:ng-if="refType != 3">{{ ref.publisher }}</td>
        <td data:ng-if="refType == 3">{{ ref.booktitle }}</td>
        <td>{{ ref.year }}</td>
        <td><a href="#/{{ ref.id }}?refType={{ ref.type }}">Edit</a></td>
        <td><a href="#" data:ng-click="deleteRef( ref )">Delete</a></td> 
    </tr>
</table>

<a href="/api/bibtex/download">Download References</a>