
<h1>Reference Preview</h1>

<dl>
  <dt>Title</dt>
  <dd>{{ ref.title }}</dd>
  
  <dt>Author</dt>
  <dd>{{ ref.authors }}</dd>
  
  <dt data:ng-if="ref.type == 1">Publisher</dt>
  <dt data:ng-if="ref.type == 2">Journal</dt>
  <dd data:ng-if="ref.type != 3">{{ ref.publisher }}</dd>
  
  <dt data:ng-if="ref.type == 3">Book Title</dt>
  <dd data:ng-if="ref.type == 3">{{ ref.booktitle }}</dd>
  
  <dt>Year</dt>
  <dd>{{ ref.year }}</dd>
  
</dl>


<h4>BibTeX:</h4>

<code style="white-space: pre-line;">{{ bibtex }}</code>

<br><br><a href="/api/bibtex/{{ ref.id }}/download">Download Reference</a>